html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: 35px;
}
